body {
  margin: 0;
  background-color: #1F1E1B;
}

@font-face {
  font-family: 'BebasNeue';
  src: local('BebasNeue'), url(./fonts/BebasNeue-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'BebasNeueLight';
  src: local('BebasNeueLight'), url(./fonts/BebasNeue-Light.ttf) format('opentype');
}

@font-face {
  font-family: 'SFProText';
  src: local('SFProText'), url(./fonts/SFProText-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(./fonts/Roboto-Bold.ttf) format('opentype');
}
